@model StudyTracker.Models.Course

<h2>Добавить курс</h2>
<form asp-action="Create">
    <div>
        <label asp-for="Name">Название</label>
        <input asp-for="Name" required />
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="ProfessorName">Преподаватель</label>
        <input asp-for="ProfessorName" required />
    </div>
    <button type="submit">Сохранить</button>
</form>